# database
DATABASE_URL=
SHADOW_DATABASE_URL=

# auth
AUTH_SECRET= # Added by `npx auth secret`. Read more: https://cli.authjs.dev
AUTH_TRUST_HOST="true" # required in production

# AWS S3 config
S3_REGION=
# Use nginx proxy (localhost:9002) for minIO local dev in case browser uploads get CORS; nginx forwards to MinIO :9000
S3_ENDPOINT_URL=http://localhost:9002
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_FOLDER=feature-library

# litellm
OPENAI_BASE_URL=
OPENAI_API_KEY=

# MuseDAM
MUSEDAM_API_BASE_URL=
MUSEDAM_APP_API_KEY=
MUSEDAM_APP_SECRET=

# cipher, 使用 MuseDAM 的 app secret 相同的值
CIPHER_PASSWORD=

# iframe
IFRAME_ALLOWED_ORIGINS="'self' http://localhost:* https://localhost:* https://*.test.tezign.com"

# internal api
INTERNAL_API_KEY=

# Jina API
JINA_API_KEY=
JINA_EMBEDDING_MODEL=jina-clip-v2
JINA_EMBEDDINGS_URL=https://api.jina.ai/v1/embeddings
JINA_BATCH_SIZE=8
JINA_TIMEOUT_SECONDS=30
JINA_USE_PROXY=false
JINA_PROXY_URL=http://127.0.0.1:7890

# Qdrant
QDRANT_URL=http://127.0.0.1:6333
QDRANT_API_KEY=
QDRANT_COLLECTION_BASE_NAME=auto_tagging_vectors

# Logo detection service
LOGO_DETECTION_SERVER_URL=http://127.0.0.1:3002
LOGO_DETECTION_SERVER_TOKEN=test
PRODUCT_CATEGORY_PREDICT_MODEL=gpt-5-mini

# translation service
TRANSLATION_SERVICE_URL=https://cloudnative.tezign.com/litellm/api/v1/chat/completions
TRANSLATION_SERVICE_API_KEY=
TRANSLATION_SERVICE_MODEL=qwen-mt-flash

# Debug pages
DEBUG_PAGE=false
LOCAL_DEV=false